/* CSS RESET */
*, *::before *::after{
    box-sizing:border-box;
}
* {
    margin: 0;
}
html, body {
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(36, 36, 36);
}
input, textarea, select {
    font: inherit;
}
/* STYLE START */
:root {
    --background: rgb(245, 245, 245);
    --foreground: rgb(54, 54, 54);
    --accent-one: #cc5f4f;
    --accent-two: #e47564;
}
a{
    color: var(--accent-one);
    text-decoration: none;
}
a:visited{
    color: var(--accent-two);
}
legend{
    font-weight: bold;
    font-size: 24px;
    padding-top: 20px;
    color: var(--accent-one);
}
label{
    font-size: 14px;
    font-weight: bold;
    color: var(--foreground);
}
input{
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    height: 24px;
    margin-top: 5px;
}
/* IDs */
#main{
    display: grid;
    grid-template-columns: 350px 1fr;
    height: 100%;
    align-items: center;
}
#panelLeft{
    height: 100%;
    background: center url("../assets/Background.jpg");
}
#ribbon{
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100px;
    color: white;
    font-family: 'Redressed', sans-serif;
    font-size: 48px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    user-select: none;
}
#logo{
    height: 48px;
}
#panelRight{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    font-family: sans-serif;
}
#panelRight > * > *{
    margin-top: 20px;
    margin-bottom: 20px;
}
#panelRight > div:nth-child(1) {
    padding-left: 100px;
    padding-right: 100px;
}
#panelRight :nth-child(2) {
    width: 100%;
}
#panelRight > * > div:nth-child(2) {
    margin-left: 100px;
    width: auto;
}
#panelRight > * > div:nth-child(2) > * {
    margin-bottom: 20px;
}
#fieldsetBg{
    background-color: white;
    box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.075);
    height: 280px;
    display: flex;
    align-items: center;
    padding-left: 90px;
}
#fieldset{
    border: none;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 40% 40%;
    gap: 5px 75px;
}
#submit{
    background-color: #cc5f4f;
    color: white;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 10px;
    box-shadow: none;
}
#submit:hover{
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.125);
}
#submit:active{
    box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.125);
}
#submit:disabled{
    color: #e47564;
    box-shadow: none;
}
#infoPanel{
    height: 80%;
    background-color: var(--accent-one);
    padding: 10px;
    margin-right: 30px;
    max-width: 300px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    overflow-y: auto;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.075);
}
#infoPanel *{
    margin-bottom: 10px;
}
#infoUsageTitle, #infoFormatTitle{
    font-weight: bold;
}
/* CLASSES */
.field{
    display: flex;
    flex-direction: column;
    height: 60px;
}
.bold{
    font-weight: bold;
}
.error{
    color: red;
    font-size: 12px;
    margin: 0;
    margin-top: 2px;
    padding: 0;
    white-space: nowrap;
}
.fieldError{
    border-color: red;
}
.inputArea{
    display: grid;
    grid-template-columns: 85% 10%;
    align-items: center;
    gap: 5%;
}
.infoButton{
    background-color: white;
    border: 1px solid rgb(220, 220, 220);
    height: 24px;
    border-radius: 50%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.active{
    background-color: var(--accent-one);
    border-color: var(--accent-one);
    color: white;
}
.hidden{
    opacity: 0;
    display: none;
}
/* ANIMATION */

/* MOBILE SUPPORT */

@media only screen and (max-width:500px) {

    /* IDs */

    /* CLASSES */

    /* ANIMATION */

}